<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Here's your booking confirmation, <%= @passenger.name %>.</h1>
    <p>
      Your flight to <%= @booking.flight.arrival_airport.name %> has successfully been booked!
    </p>
    <h2>Here's the details:</h2>
    <p>Departure airport: <%= @booking.flight.departure_airport.name %></p>
    <p>Arrival airport: <%= @booking.flight.arrival_airport.name %></p>
    <p>Date: <%= @booking.flight.departure_datetime.strftime('%d/%m/%Y') %></p>
    <p>Time: <%= @booking.flight.departure_datetime.strftime('%H:%M') %> </p>
    <p>Thanks for booking your flight through our service!</p>
  </body>
</html>