
<% if @results %>
  <p><%= @results.length %> results found.</p>
  <% @results.each do |result| %>
    <p><%= result.departure_airport.name %> - <%= result.arrival_airport.name %></p>
    <p><%= result.departure_datetime.strftime('%H:%M') %> - <%= result.departure_datetime.strftime('%d/%m/%Y') %></p>
  <% end %>
<% end %>
